card{
    background-color:black;
    color:white;
}
img{
    object-fit:cover;
    width:200px;
    height:300px;
    transition:0.35s ease-in
}
card:hover img{
    transform: scale(2);
    -webkit-mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1) 50%, rgba(0, 0, 0, 0) 100%);
    mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1) 50%, rgba(0, 0, 0, 0) 100%);
}
img:hover .card-body{
    color:black;
}
.card{
     border:1px solid white;
    transition:all 0.35s ease-in;
}
.card:hover{
    border:1px solid transparent;
}
.card img{
    object-fit:cover;
    transition:all 0.35s ease-in;
}
.card:hover img{
    transform: scale(2.5);
    -webkit-mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1) 50%, rgba(0, 0, 0, 0) 100%);
    mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1) 50%, rgba(0, 0, 0, 0) 100%);
}