{% extends 'base.html' %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static 'CSS/Add_to_cart.css' %}">

<div class="master-container" style="display:flex;justify-content:center;align-items:center;">
    <div class="row">
        <div class="col-lg-8" style="margin-top:100px;">
            <h2 style="border-bottom:1px solid gray;">Cart items</h2>
            <div style="max-height:500px;overflow:auto;scrollbar-color:#3c3a3a transparent;">
            {% if cart %}
<table>
    <tr>
        <th style="padding-right:15px;">| Product image | </th>
        <th style="padding-right:15px;">Product name | </th>
        <th style="padding-right:15px;">Unit Price | </th>
        <th style="padding-right:15px;">Quantity | </th>
        <th style="padding-right:15px;">Sub total | </th>
    </tr>

    {% for i in cart %}
    <tr style="color:white;border-bottom:1px solid gray;">
        <td>
            <span>{{ forloop.counter }}</span>
            <img src="{{ i.product.image.url }}" width="80px;" style="padding:10px;">
        </td>
        <td>{{ i.product.name }}</td>
        <td>${{ i.product.price }}</td>
        <td>{{ i.quantity }}</td>
        <td>${{ i.subtotal }}</td>
        <td>
            {% if i.product.stock > 0 %}
                <a href="{% url 'cart:add_to_cart' i.product.id %}" title="Add one more" style="color:black;">
                    <i class="fa-solid fa-plus" style="color: #ffffff;"></i>
                </a>
                <a style="border:1px solid gray;border-radius:5px;padding:5px;">{{ i.quantity }}</a>
                <a href="{% url 'cart:remove_from_cart' i.product.id %}">
                    <i class="fa-solid fa-minus" style="color: #ffffff;"></i>
                </a>
            {% else %}
                <a style="border:1px solid gray;border-radius:5px;padding:5px;">{{ i.quantity }}</a>
                <a href="{% url 'cart:remove_from_cart' i.product.id %}">
                    <i class="fa-solid fa-minus" style="color: #ffffff;"></i>
                </a>
            {% endif %}
        </td>
        <td style="margin-left:40px;">
            <a href="{% url 'cart:delete_item_cart' i.product.id %}" title="Remove one more">
                <i class="fa-solid fa-trash-can" style="color: #7c0808;"></i>
            </a>
        </td>
    </tr>
    {% endfor %}
</table>
{% else %}
<p>Your cart is empty.</p>
{% endif %}
                <a href="{% url 'shop:home' %}" class="btn btn-outline-light mt-3" style="margin-left:550px;">Continue Shopping</a>
            </div>
        </div>
        <div class="col-lg-4">
              <div class="container">
                <div class="card cart">
                  <label class="title">CHECKOUT</label>
                  <div class="steps">
                    <div class="step">
                      <div>
                        <span>Payment</span>
                        <p>For demo purpose we will be<br>using, Razorpay API</p>
                        <p>Mastercard : 5267 3181 8797 5449<br>Visa : 4111 1111 1111 1111<br>CVV : Random CVV<br>Expiry Date : Any future date</p>
                      </div>
                      <hr />
                      <div class="payments">
                        <span>PAYMENT</span>
                        <div class="details">
                          <span>Subtotal:</span>
                          <span>${{subtotal}}</span>
                          <span>Shipping:</span>
                          <span>$10.00</span>
                          <span>Tax:</span>
                          <span>$30.40</span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="card checkout">
                  <div class="footer">
                    <label class="price">${{total}}</label>
                    <a href="{% url 'cart:orderform' %}" class="checkout-btn">Checkout</a>
                  </div>
                </div>

              </div>
        </div>
    </div>
</div>
{% endblock %}