{% extends 'base.html' %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static 'CSS/Product_list.css' %}">
<div class="text-center" style="margin-top:100px;">
<div class="row">
    <div class="col-12">
        <h1>{{cat_id.name}}</h1>
        <p>{{cat_id.desc}}</p>
    </div>
</div>
</div>

<div class="row" style="margin:100px; margin-left:200px; row-gap:30px;">
    {% for i in prd_list %}
    <div class="col-lg-4">
        <div class="row">
            <div class="card" style="width: 18rem; height:500px; background-color:black; color:white;overflow:hidden;width: 18rem; background-color:black; color:white;border-radius:18px; ">
              <img src="{{ i.image.url }}" class="card-img-top" alt="{{ i.name }} image"  style="margin-top:10px;">
              <div class="card-body" style="z-index:20">
                <h5 class="card-title">{{ i.name }}</h5>
                <p class="card-text">${{ i.price }}</p>
                <a href="{% url 'shop:product_details' i.id %}" class="btn btn-outline-light">Details</a>
              </div>
            </div>
        </div>
    </div>
    {% endfor %}
</div>

{% endblock %}